/* Reset de estilos */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

h1 {
    font-size: 80px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 55px;
    color: rgb(242, 242, 12);
}

h4 {
  color: rgb(242, 242, 12);
}

.descripcion {
padding: 37px;
background-color: #ffffff;
text-align: center; 
}

p {
    text-align: center; 
    font-size: large;    
    color: #2a2a38ff;        
}

/* botón de Google Maps */
.google-maps-button {
    display: inline-block;
    padding: 20px;
    font-size: xx-large;
    background-color: #6fab60ff; 
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-top: 40px; 
  }
  
  .google-maps-button:hover {
    background-color: rgb(58, 130, 40);
  }
  
/* centrar el título de la galería */
.galeria_titulo {
    text-align: center; 
    margin-top: 1px;   
    margin-bottom: 2px; 
    font-size: 35px;    
    color: rgb(10, 65, 167);        
  }
  
  /* Estilos de la página */
  body {
    background-color: #ffffff;
    color: #333;
  }
  
  header {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #6fab60ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .precio {
    font-size: xxx-large;
    font-weight: bolder;
    color: rgb(2, 175, 2);
    margin-bottom: 1px;
    margin-top: 1px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .gallery img {
    width: 420px;
    height: 270px;
    margin: 10px;
    border-radius: 10px;
    border: #6fab60ff solid 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .gallery img:hover {
    transform: scale(1.07);
  }
  
  /* Estilos galería modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    margin: 5% auto;
    display: block;
    width: 100%;
    max-width: 1200px;
  }

  /* botón "Atrás" en el modal */
.close-modal-btn {
  position: absolute; 
  top: 20px; 
  right: 30px; 
  padding: 30px; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  z-index: 1010; 
  font-size: 40px;
  text-align: center;
}
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .gallery img {
      width: 100px;
      height: 70px;
    }
  }
  
/* contenedor del botón de descarga */
.download-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* botón de descarga */
  .download-button {
    display: inline-block;
    padding: 20px;
    background-color: #6fab60ff; 
    color: #fff;
    font-size: xx-large;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: rgb(58, 130, 40); 
  }
  
  /* footer */
.site-footer {
  background-color: rgb(58, 130, 40); 
  color: #fff; 
  padding: 20px 0; 
  margin-top: 30px;
}

.container {
  width: 80%; 
  margin: 0 auto; 
}

.contact-info {
  text-align: center; 
  font-size: xx-large;
}

.contact-info h4 {
  margin-bottom: 10px; 
}

.contact-info p {
  margin-bottom: 8px; 
  color: #ffffff;
  font-size: xx-large;
}

.guardar {
  color: #333;
}

/* Estilo modal */
#imageModal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.9); 
  z-index: 1000; 
  overflow: auto; 
}

/* imagen dentro del modal */
#modalImage {
  margin: auto; 
  display: block; 
  max-width: 98%; 
  max-height: 98%; 
  cursor: pointer; 
}

/* Estilo adicional para el cuerpo y el html para asegurarse de que el modal ocupe toda la pantalla */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.youtube {
  padding-top: 20px;
  display: flex; 
  justify-content: center;
  align-items: center;
}